*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* color: white; */
    font-family: "Nunito", sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
}

.left-container{
    width: 50%;
    /* min-height: 100vh; */
    background-color: rgba(16, 159, 238) !important;
    padding-inline: 80px;
    padding-block: 140px;
    color: white;
}

.left-container h1{
    font-size: 48px;
    line-height: 50px;
    padding-block: 20px;
}

.left-container .description{
    width: 80%;
    line-height: 30px;
    font-size: 18px;
}

.cta{
    padding-top: 60px;
    width: 100%;
}


.search-box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box .icon i{
    height: 40px;
    width: 40px;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color:  rgba(16, 159, 238) !important;
}

.lock-box{
    display: flex;
    align-items: center;
    padding-block: 20px;
    gap: 20px;
}
.lock-box .icon i{
    height: 40px;
    width: 40px;
    font-size: 18px;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
    color:  rgba(16, 159, 238) !important;
}


.h1{
    font-weight: 500;
    font-size: 56px;
}

.container .right-container{
    width: 50%;
    background-color: white;
    padding-inline: 80px;
    padding-block: 200px;
}

.feature-container{
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    line-height: 30px;
            color: black;

}

.feature .icon i{
    height: 50px;
    width: 50px;
    font-size: 18px;
    padding: 15px;
    border-radius: 50%;
    color: white;
    background-color:  rgba(16, 159, 238);
}

.feature p{
    opacity: 0.9;
}


/*Media queries*/
@media(max-width:900px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .left-container{
        width: 100%;
        padding-inline: 40px;
        padding-block: 40px;
    }

    .right-container{
        width: 100%;
    }

    .left-container{
        padding-inline: 80px;
        padding-block: 80px;
    }

    .left-container h1{
        font-size: 80px;
        line-height: 70px;
        padding-block: 20px;
    }

    .left-container .description{
        width: 100%;
        line-height: 30px;
        font-size: 28px;
    }

    .cta{
        width: 100%;
    }

    .search-box{
        gap: 20px;
    }

    .search-box{
        gap: 20px;
    }

    .search-box .icon i{
        height: 60px;
        width: 60px;
        font-size: 24px;
        padding: 20px;
    }

    .cta p{
        font-size: 24px;
    }

    .lock-box{
        padding-block: 20px;
        gap: 20px;
    }
    .lock-box .icon i{
        height: 60px;
        width: 60px;
        font-size: 24px;
        padding: 20px;
    }
    .h1{
        font-weight: 500;
        font-size: 56px;
    }
    .container .right-container{
        width: 100%;
        padding-inline: 80px;
        padding-block: 60px;
    }

    .feature-container{
        gap: 40px;

    }
    .feature{
        gap: 20px;
        line-height: 30px;
    }
    .feature .description{
        font-size: 18px;
    }
    .feature .icon i{
        height: 60px;
        width: 60px;
        font-size: 24px;
        padding: 20px;
    }
}

@media(min-width:375px) and (max-width:600px){
.left-container{
    padding-inline: 30px;
    padding-block: 30px;
}

.left-container h1{
    font-size: 50px !important;
    line-height: 48px !important;
}

.left-container .description{
    width: 100%;
    line-height: 24px;
    font-size: 18px;
    padding-top:30px ;
}

.cta{
    padding-top: 60px;
    width: 100%;
}
    .left-container h1{
        font-size: 24px;
        line-height: 30px;
        padding-block: 20px;
    }

    .left-container .description{
        width: 100%;
        line-height: 20px;
        font-size: 18px;
    }

    .cta{
        width: 100%;
    }

    .search-box{
        gap: 20px;
    }

    .search-box{
        gap: 20px;
    }

    .search-box .icon i{
        height: 45px;
        width: 45px;
        font-size: 18px;
        padding: 12px;
    }

        .cta p{
            font-size: 18px;
        }

    .lock-box{
        display: flex;
        align-items: center;
        padding-block: 20px;
        gap: 20px;
    }
    .lock-box .icon i{
        height: 45px;
        width: 45px;
        font-size: 18px;
        padding: 12px;
    }


    .h1{
        font-weight: 500;
        font-size: 56px;
    }

    .container .right-container{
        width: 100%;
        padding-inline: 30px;
        padding-block: 60px;
    }
    .feature .description{
        font-size: 17px;
        line-height: 20px;
    }

    .feature .description p{
        padding-top:20px ;
    }


} 
@media(min-width:320px) and (max-width:375px){
.left-container{
    padding-inline: 10px;
    padding-block: 20px;
}

.left-container h1{
    font-size: 50px !important;
    line-height: 48px !important;
}

.left-container .description{
    width: 100%;
    line-height: 24px;
    font-size: 18px;
    padding-top:30px ;
}

.cta{
    padding-top: 60px;
    width: 100%;
}
    .left-container h1{
        font-size: 24px;
        line-height: 30px;
        padding-block: 20px;
    }

    .left-container .description{
        width: 100%;
        line-height: 20px;
        font-size: 18px;
    }

    .cta{
        width: 100%;
    }

    .search-box{
        gap: 20px;
    }

    .search-box{
        gap: 20px;
    }

    .search-box .icon i{
        height: 45px;
        width: 45px;
        font-size: 18px;
        padding: 12px;
    }

        .cta p{
            font-size: 18px;
        }

    .lock-box{
        display: flex;
        align-items: center;
        padding-block: 20px;
        gap: 20px;
    }
    .lock-box .icon i{
        height: 45px;
        width: 45px;
        font-size: 18px;
        padding: 12px;
    }


    .h1{
        font-weight: 500;
        font-size: 56px;
    }

    .container .right-container{
        width: 100%;
        padding-inline: 30px;
        padding-block: 60px;
    }

}
